@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, button, input, select {
  cursor: pointer;
}

*::before, *::after {
  display: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  position: relative;
  min-height: 100dvh;
}

section {
  position: relative;
  min-height: 100dvh;
}

#floatHeader {
  position: fixed;
  bottom: 20%;
  right: 5%;
  border-radius: 20px;
  padding: 30px 30px 35px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  mix-blend-mode: difference;
  overflow: hidden;
  transition: 0.7s;
  animation: DongDong 3s ease-in-out infinite;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#floatHeader .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
#floatHeader .list > li {
  display: block;
}
#floatHeader .list > li .menu {
  display: block;
  transition: 0.5s;
  font-size: 1.125rem;
  color: #2d3b53;
  font-weight: 700;
}
#floatHeader .list > li .menu .emoji {
  display: inline-block;
  padding-left: 7px;
  transition: 0.5s;
  font-size: 1.25rem;
}
#floatHeader .list > li .menu:hover {
  color: rgba(0, 56, 160, 0.8);
}
#floatHeader .list > li .menu:hover .emoji {
  display: inline-block;
  padding-left: 3px;
}

@keyframes DongDong {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Black.otf") format("opentype");
}
/* 이사만루 GongGothicMedium */
@font-face {
  font-family: "GongGothicMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 페이퍼로지 GongGothicMedium */
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
#main {
  display: block;
  transition: 0.5s;
}
#main section {
  display: flex;
  position: relative;
  padding: 50px 0;
  gap: 30px;
  transition: 0.5s;
}
#main section .art {
  display: block;
  transition: 0.5s;
}
#main section.v01 {
  padding: 0;
  gap: 0;
}
#main section.v01 .art {
  width: 50%;
}
#main section.v01 .art.t01 {
  background-color: #000;
  padding: 70px;
}
#main section.v01 .art.t01 .txt {
  display: block;
  transition: 0.5s;
  padding-top: 20px;
  transition: 0.5s;
  font: 600 1.125rem "Pretendard";
  color: #2d3b53;
}
#main section.v01 .art.t01 .introCon {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
#main section.v01 .IntroTitCon {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
}
#main section.v01 .bgVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main section.v02 {
  flex-direction: column;
}
#main .firstCode {
  display: block;
  text-align: center;
  font: 700 9rem "GongGothicMedium";
  transition: 0.5s;
  color: #ddd;
}
#main .mainTit {
  display: block;
  transition: 0.5s;
  font: 700 2rem "Paperlogy-8ExtraBold";
  color: rgb(20, 20, 148);
}/*# sourceMappingURL=main.css.map */