* {margin:0px; padding:0px; box-sizing: border-box;}

small, address, em {font-size:100%; font-style:normal;}
form, div, p, span, ul, li, dl, dt, textarea, h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; word-break:keep-all;} 
table {width: 100%;}
table caption {visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0;}
table, th, td {border-spacing:0px; border-collapse:collapse;}
ul, ol, dl, li, dt, dd {list-style:none;}
img, fieldset {display:inline; max-width:100%; border:0px; line-height:0; vertical-align: top;}
img, video, audio {max-width: 100%; max-height: 100%;}
figure {display:block; line-height:0;}
header, nav, aside, section, address, article, main, footer, hgroup, div {display:block;}
dfn,em {font-style: normal;}
del,s {display: inline-block;}
figcaption {display: block;}
button {background: transparent; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;}
input, textarea, select, button {font-family: inherit;}
input[type="button"], input[type="text"], input[type="submit"], input[type="password"], select {vertical-align:middle; appearance:none; -webkit-appearance: none; -moz-appearance: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
input[type="text"]::-ms-clear {display: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {margin: 0; appearance: none; -webkit-appearance: none;}
textarea {resize: none;}
select {cursor:pointer;}
button, input[type="button"] {border:0; cursor: pointer; background: none;}
a, span, em {display: inline-block;}
a:link {color:#000; text-decoration:none;}
a:visited {color:#000; text-decoration:none;}
a:active {color:#000; text-decoration:none;}
a {cursor:pointer;}
// add
a, button, input, select {cursor: pointer;}
::before, ::after {display: none; content: '';}

map area {cursor: pointer;}

html {color:#000; font-size:100%; font-family: 'Pretendard', sans-serif; font-size: 16px; font-weight: 400;}
@media all and (max-width: 768px) {
    html {font-size: 14px;}
}
body {min-height: 100vh; line-height:1.3; overflow-x: hidden; transform-origin: 50% 0;}

/* SKIP */
.skipH {
    position: absolute;
    height: 0;
    width: 0;
    left: -9999px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
a.skipNav {
    display: block;
    position: absolute;
    z-index: 500;
    left: 0;
    top: -10000px;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}

a.skipNav:hover, a.skipNav:focus {
    position: absolute;
    top: 0;
    z-index: 500;
    padding: 15px 0;
    color: #ffffff;
    font-weight: bold;
    background: none repeat scroll 0 0 #1d60a7;
}

/* 접근성 숨김텍스트 */
.behind {
    overflow: hidden;
    display: inline-block;
    left: -9999px;
    position: absolute;
}


